Source: ros-kinetic-mir-robot
Section: misc
Priority: extra
Maintainer: Martin Günther <martin.guenther@dfki.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: https://github.com/dfki-ric/mir_robot
Standards-Version: 3.9.2

Package: ros-kinetic-mir-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-mir-actions, ros-kinetic-mir-description, ros-kinetic-mir-driver, ros-kinetic-mir-dwb-critics, ros-kinetic-mir-gazebo, ros-kinetic-mir-msgs, ros-kinetic-mir-navigation
Description: URDF description, Gazebo simulation, navigation, bringup launch files, message and action descriptions for the MiR100 robot.
